// @import "node_modules/bootstrap/scss/bootstrap";
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
 
// Small tablets (portrait view)
$screen-md-min: 768px;
 
// Tablets and small desktops
$screen-lg-min: 992px;
 
// Large tablets and desktops
$screen-xl-min: 1200px;
body{
  overflow-x: hidden;
}
.testing {
    width: percentage(6/8);
  }
.svgImg{
    width: 100%;
}
.pad5{padding: 2% 5%;}
.pad17{
  @media screen and (max-width: 767px){
    padding: 0% 10% 15% 20%;
  }
  @media screen and (min-width: $screen-md-min) and (max-width: 1199px){
    padding: 0% 50% 10% 20%;
  }
  @media screen and (min-width: $screen-xl-min){
    padding: 0% 50% 5% 20%;
  }
}
.faIcon{
  background-color: #fed386;
  border-radius: 100%;
  padding:10px 15px;
}
header {
  background-color: #c1dfc4 ;
  @media screen and (max-width: 767px){
    height: 600px;
  }
  @media screen and (min-width: $screen-md-min) and (max-width: 1199px){
    height: 750px;
  }
  @media screen and (min-width: $screen-xl-min){
    height: calc(720px + 7.5vw);
  }
  // height: 500px;
}
.colorB{
  color: #ea5b0c;
}
.iconH60{
  height: 60px;
}
.fondText{
  font: normal normal bold 32px/39px Georgia, serif;
  font-weight: 1000;
}
.fondTextNavLink2{
  font: normal normal normal 13px/39px 'Times New Roman', serif;
  font-weight: 100;
}
.imgPA{
  position: absolute;
}
.size13{

  font-size: 13px;
}
.size16{
  font-size: 16px;
}
.size18{
  font-size: 18px;
}
.size32{
  font-size: 32px;
}

.positionImageBinche1{
  position: relative;
  width: 40vw;
  height: 40vw;
  @media screen and (max-width: 767px){
    top: -380px;
    left: 55%;
  }
  @media screen and (min-width: $screen-md-min) and (max-width: 1199px){
    top: -580px;
    left: 55%;
  }
  @media screen and (min-width: $screen-xl-min){
    top: calc(-380px - 8vw);
    left: 50%;
  }
}
.positionImageBinche2{
  position: relative;
  width: 15vw;
  height: 15vw;
  @media screen and (max-width: 767px){
    top: -280px;
    left: 5%;
  }
  @media screen and (min-width: $screen-md-min) and (max-width: 1199px){
    top: -480px;
    left: 5%;
  }
  @media screen and (min-width: $screen-xl-min){
    top: -330px;
    left: 2.5vw;
  }
}
.circleB{

  background-color: #ea5b0c;
  border-radius: 100%;
  position: relative;
  width: 7.5vw;
  height: 7.5vw;
  @media screen and (max-width: 767px){
    top: -480px;
    left: 87vw;
  }
  @media screen and (min-width: $screen-md-min) and (max-width: 1199px){
    top: -700px;
    left: 88vw;
  }
  @media screen and (min-width: $screen-xl-min){
    top: calc(-600px - 10vw);
    left: 85vw;
  }
}
.nav-itemC{
  color: black !important;
  
}
.nav-item:hover{
background-color: #86b38b;
color: rgb(56, 54, 54);
}