$body: #F5F7FA;

$buttonColor: #1305D3;
$buttonShadow: 0px 11px 18px -12px rgba(0,0,0,0.25);
$buttonColorShadow: 0px 14px 20px -12px rgba(19,5,211,0.40);

.target {
    transition: all .25s;
    & span {}
    &.expanded {
      font-size: 40px;
    }
    &:first-child {}
}
.target2 {
    transition: all .25s;
    & span {}
    &.expanded {
      font-size: 50px;
    }
    &:first-child {}
  }
  .target3 {
    transition: all .25s;
    & span {}
    &.expanded {
      font-size: 45px;
    }
    &:first-child {}
  }
.cursor {
  &.expanded {
  }
  &.not-active {
  }
}
