.testing {
  width: 75%; }

.svgImg {
  width: 100%; }

.pad5 {
  padding: 2% 5%; }

@media screen and (max-width: 767px) {
  .pad17 {
    padding: 0% 10% 15% 20%; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pad17 {
    padding: 0% 50% 10% 20%; } }

@media screen and (min-width: 1200px) {
  .pad17 {
    padding: 0% 50% 5% 20%; } }

.faIcon {
  background-color: #fed386;
  border-radius: 100%;
  padding: 10px 15px; }

header {
  background-color: #c1dfc4; }
  @media screen and (max-width: 767px) {
    header {
      height: 600px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    header {
      height: 750px; } }
  @media screen and (min-width: 1200px) {
    header {
      height: calc(720px + 7.5vw); } }

.colorB {
  color: #ea5b0c; }

.iconH60 {
  height: 60px; }

.fondText {
  font: normal normal bold 32px/39px Georgia, serif;
  font-weight: 1000; }

.fondTextNavLink2 {
  font: normal normal normal 13px/39px 'Times New Roman', serif;
  font-weight: 100; }

.imgPA {
  position: absolute; }

.size13 {
  font-size: 13px; }

.size16 {
  font-size: 16px; }

.size18 {
  font-size: 18px; }

.size32 {
  font-size: 32px; }

.positionImageBinche1 {
  position: absolute; }
  @media screen and (max-width: 767px) {
    .positionImageBinche1 {
      top: 435px;
      left: 58%;
      width: 40%; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .positionImageBinche1 {
      top: 435px;
      left: 55%;
      width: 40%; } }
  @media screen and (min-width: 1200px) {
    .positionImageBinche1 {
      top: calc(435px + 8vw);
      left: 50%;
      width: 40%; } }

.positionImageBinche2 {
  position: absolute; }
  @media screen and (max-width: 767px) {
    .positionImageBinche2 {
      top: calc(535px + 7.5vw);
      left: 50%;
      width: 15%; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .positionImageBinche2 {
      top: 635px;
      left: 47.5%;
      width: 15%; } }
  @media screen and (min-width: 1200px) {
    .positionImageBinche2 {
      top: calc(635px + 17.5vw);
      left: 42.5%;
      width: 15%; } }

.circleB {
  background-color: #ea5b0c;
  border-radius: 100%;
  position: absolute; }
  @media screen and (max-width: 767px) {
    .circleB {
      top: calc(565px + 7.5vw);
      left: 92%;
      width: 7.5%;
      height: 7.5vw; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .circleB {
      top: 665px;
      left: 90%;
      width: 7.5%;
      height: 7.5vw; } }
  @media screen and (min-width: 1200px) {
    .circleB {
      left: 85%;
      top: calc(665px + 17.5vw);
      width: 7.5%;
      height: 7.5vw; } }

.nav-itemC {
  color: black !important; }
